.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  font-size: 2.5rem;
  color: white;
  margin: 2rem 0;
}

.contactCard {
  display: flex;
  line-height: 2rem;
  gap: 1rem;
}

.leftSide {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.iconList {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.contactInfoLeft {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.contactInfoRight {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.contactBar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.contactIcons {
  display: flex;
  font-size: 0.9rem;
}

.contactIcons a {
  color: white;
  text-decoration: none;
}

.contactIcons a:hover {
  color: rgb(95, 15, 68);
  padding-top: 2px;
}

.spanMe {
  color: white;
}

@media screen and (min-width: 1300px) {
  .contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .header {
    font-size: 4rem;
    color: white;
    margin: 2rem 0;
  }

  .contactCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 3rem;
  }

  .leftSide {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }

  .iconList {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  .contactInfoLeft {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
  }

  .contactInfoRight {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
  }

  .contactBar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
  }

  .contactIcons {
    display: flex;
    font-size: 1.5rem;
  }

  .contactIcons a {
    color: white;
    text-decoration: none;
  }

  span {
    color: white;
  }
}
